.header-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  .header-section {
    left: -300px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;

}
.nav-menu .nav_link {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: flex-end;
  padding: 12px 6px;
  margin-bottom: 0px;
  margin-top: 1px;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 18px;
  color: #a8a9b4;
  cursor: pointer;
}

.nav-menu .nav_link .nav_icon{
  padding-bottom: 1px;
}

.nav-active{
  left:0
}

.nav-menu .icon{
  color: #6f7180;
  font-size: 26px;
  text-decoration: none;
}

.nav_name{
  text-transform: capitalize;
}

.nav-menu .nav_link .nav_name:hover, .nav-menu .active .nav_name{
  text-decoration: none;
  color: var(--light-blue-background);
}

.nav-menu .active .icon {
  color: var(--light-blue-background);
  text-decoration: none;
}

.nav-wrapper{
  padding-bottom: 25px;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 26px;
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--light-blue-background);
  color: var(--white-color);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  .nav-menu .nav_link{
    font-size: 16px;
    gap: 2px;
    padding: 8px 6px;
  }
  .nav-menu .icon{
    font-size: 22px;
  }

  
}